.changeMode.dark {
   background: black;
}

.inner-head ul {
   width: 100%;
   display: flex;
   justify-content: center;
   list-style: none;
   padding: 0;
}

.inner-head {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   padding: 0;
}

.inner-head ul button {
   border-radius: 10px;
   margin-right: 20px;

}

.inner-head ul li:hover button {
   background: palevioletred;
   cursor: pointer;
}

.inner-head ul li button:active {
   background: yellow;
}

.inner-head ul button i {
   font-size: 30px;
   color: black;
}

.main .row {
   padding-top: 40px;
   position: relative;
   justify-content: center;
   flex-direction: column;
   width: 50%;
   margin: 50px auto;
   background-color: aliceblue;
   padding: 20px;
}

input {
   display: flex;
}

a:hover {
   text-decoration: none;
}

#key {
   visibility: hidden;
   height: 0;
   transition: all 0.5s ease-in-out 0;
}

#key.show {
   visibility: visible;
   height: 100%;
}

#arrow {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   transition: all 0.3s;
}

@media (max-width:576px) {
   .main .row {
      width: 100%;
   }
}